.start-exercise {
    height: 100%;
    width: 100%;
    background-color: rgba(223, 223, 223, 0.044);
}

.start-exercise-container {
    height: 1000px;
    width: 500px;
    border: solid rgba(98, 98, 98, 0.442) 1px;
}
/* 
.start-exercise-container > h4 {
    border: inset rgb(0, 0, 0) 1px;
} */


.start-exercise-bp-container {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 130px;
    background-color: rgb(253, 248, 239);
}

.bp-label {
    height: 30px;
    width: 100px;
    margin: 5px;
    border-radius: 10px;
    border: inset rgba(0, 0, 0, 0.158) 1px;
    background-color: rgb(255, 255, 255)

}

.bp-label:hover {
    cursor: pointer;
    border: none;
    background-color: rgb(255, 131, 114);
    color: rgb(255, 255, 255)
}

.start-exercise-select-container {
    width: 500px;
    height: 450px;
    /* border: inset rgb(0, 0, 0) 1px; */
}

.filter-exercise {
    /* border: inset rgb(0, 0, 0) 1px; */
    width: 80%;
}

.search-exercises {
    height: 100%;
    /* border: inset rgb(0, 0, 0) 1px; */
    justify-content: center;
    align-items: start;
}

.start-exercise-filter {
    width: 100%;
    height: 12%;
    /* border: inset rgb(0, 0, 0) 1px; */
}

.filter-exercise > h6 {
    margin: 0 10px 2px 0;
}

.start-exercise-label > h5 {
    /* border: inset rgb(0, 0, 0) 1px; */
    width: 150px;
    padding: 0 0 0 10px;
}

.start-exercise-select-field {
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 95%;
    height: 400px;
    /* border: inset rgb(0, 0, 0) 1px; */
    overflow-y: auto;
}

.start-exercise-back-container {
    justify-content: center;
    width: 500px;
    height: 50px;
    /* border: inset rgb(0, 0, 0) 1px; */
}

.selected-exercise {
    height: 150px;
    width: 100%;
    /* border: inset rgb(0, 0, 0) 1px; */
}

.completed-exercise-container {
    flex-direction: column;
    align-items: center;
    height: 248px;
    width: 100%;
    /* border: inset rgb(0, 0, 0) 1px; */
    overflow-y: auto;
}

.completed-exercise-container > h5 {
    width: 100%;
    border: inset rgb(0, 0, 0) 1px;

}

/*popup*/

.intensity-info-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0 ,0 , 0.05);
}

.intensity-info {
    width: 500px;
    height: 600px;
    background-color: white;
    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 0.1);
    border: rgb(255, 255, 255);
    border-radius: 20px;
}

.intensity-img-container {
    width: 90%;
    height: 40%;
    border: inset rgb(0, 0, 0) 1px;
}

.intensity-img {
    width: 80%;
    height: 100%;
    border: inset rgb(0, 0, 0) 1px;
}

.intensity-explanation-container {
    width: 90%;
    height: 40%;
    border: inset rgb(0, 0, 0) 1px;
    padding: 15px 0 0 0;
    overflow-y: scroll;
}

.intensity-explanation {
    width: 85%;
    height: 100%;
}

.delete-current-routine {
    /* border: inset rgb(0, 0, 0); */
    justify-content: end;
}